spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB-USERNAME}
    password: ${DB-PASSWORD}
  cloud:
    gcp:
      sql:
        enabled: true
        database-name: ${DB-NAME}
        instance-connection-name: ${DB-INSTANCE}
      logging:
        enabled: true
  sql:
    init:
      mode: always
  flyway:
    enabled: true
    locations: "classpath:db/migration"

api:
  url: ${API-URL}

server:
  port: ${PORT:8080}

bucket:
  name: ${BUCKET-NAME}
  folder: ${BUCKET-FOLDER}

model:
  bucket:
    name: ${MODEL-BUCKET-NAME}
    folder: ${MODEL-BUCKET-FOLDER}

rectle:
  tasks:
    service:
      url: ${RECTLE-TASKS-SERVICE-URL}
      token: 7cdbc9084feb6ac0aa4c3d310416ec3b95de1aa8454cae6ca6f228c233a5582c